:root {
    
    --50: #fdf5ef;
    --100: #fae7da;
    --200: #f4ccb4;
    --300: #ecaa85;
    --400: #e47e53;
    --500: #dc582a;
    --600: #cf4827;
    --700: #ac3522;
    --800: #892d23;
    --900: #6f271f;
    --950: #3c110e;  
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #e7e4e462;
    font-family: 'Playfair Display', serif;
}
/*Globales*/
img {
    width: 100%;
}
p {
    font-size: 1.8rem;
}
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
/*--------------------*/

.contenido_principal {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.3s ease;
}

.titulo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navegacion {
    position: relative;
}

.navegacion_items a {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.navegacion_items a span:last-child {
    font-size: 30px;
}
.navegacion_items a::before {
    content: "";
    position: absolute;
    background-color: #e75309;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.navegacion_items a:hover::before {
    width: 100%;
}

.home {
    padding: 100px 200px;
    width: 100%;
    min-height: 97vh;
    background-color: #2696E9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.home::before {
    z-index: 777;
    content: "";
    position: absolute;
    background-color: rgba(119, 126, 129, 0.3);/*bg video*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .contenido {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 5rem;
}

.home .contenido h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 4rem;
    transition: 0.3s ease-in;
}

.home .contenido h1 span {
    font-size: 4rem;
    font-weight:  600;
    transition: 0.3s ease-in-out;
}

.home .contenido p {
    margin-bottom: 65px;
}

.home .contenido a {
    background-color: #d44d0a;
    padding: 15px 35px;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .contenido a:hover {
    color: #222;
    transition-duration: .3s;
}
.home .media_icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media_icons a {
    color: #fff;
    font-size: 2.5rem;
    transition: 0.3s ease;
}

.home .media_icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media_icons a .fa-instagram:hover {
    color: red;
}

.home .media_icons a:hover {
    transform: scale(1.3);
    color: #2696E9;
}

.home .video_slide {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navegacion_slider {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.navegacion_slider .navegacion_btn {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.navegacion_slider .navegacion_btn.active {
    background-color: #d44d0a;
}

.navegacion_slider .navegacion_btn:not(:last-child) {
    margin-right: 20px;
}

.navegacion_slider .navegacion_btn:hover {
    transform: scale(1.2);
}

.video_slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video_slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
/*media queries*/
@media (max-width: 1040px) {
    .contenido_principal {
        padding: 12px 20px;
    }

    .home {
        padding: 0px 20px;
    }

    .home .media_icons {
        right: 15px;
    }

    .contenido_principal .navegacion {
        display: none;
    }

    .contenido_principal .navegacion.active {
        position: fixed;
        width: 100%;
        height: 75vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(1, 1, 1, 0.5);
    }

    .contenido_principal .navegacion_items a {
        color: #222;
        font-size: 1.8rem;
        margin: 20px;
    }

    .contenido_principal .navegacion_items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
    }

    .home .video_slide {
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }

    .menu_btn {
        background-image: url(../img/menu.png);
        background-repeat: no-repeat;
        background-size: 3rem;
        background-position: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu_btn span {
        font-size: 30px;
    }

    .menu_btn.active {
        z-index: 999;
        background: url(../img/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/* nosotros */
.nosotros_title {
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
}

.nosotros_title span {
    color: #d44d0a;
}

.nosotros_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
    /* -webkit-box-shadow: -15px 14px 21px 4px rgba(184,184,184,1);
    -moz-box-shadow: -15px 14px 21px 4px rgba(184,184,184,1); */
}
.nosotros_img img{
    border-radius: 2rem;
    box-shadow: -15px 14px 21px 4px rgba(184,184,184,1);
}

/* .nosotros_img video {
    width: 100%;
    border-radius: 2rem;
} */
.nosotros_texto {
    text-align: justify;
    padding: 0 1.5rem;
}

@media (max-width: 992px) {
    .nosotros_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* seccion productos */
.producto_title h2{
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
}

.producto_title span {
    color: #d44d0a;
}


.producto_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem 0;
}

.producto_img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.producto_titulo {
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #0c370d;
    font-weight: 600;
}

.producto_texto {
    text-align: center;
}

@media (max-width: 768px) {
    .producto_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* seccion slider vendedor */
.vendedor h2 {
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
}

.vendedor h2 span {
    color: #d44d0a;
}

.vendedor_contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
.swiper {
    width: 950px;
}
.card {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 20px 0;
    width: 28rem;
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #f96c15;
    border-radius: 20px 20px 0 0;
}
.card .card_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: #a6480d;
}
.card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card .vendedor_icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card .vendedor_icons i {
    color: #fff;
    opacity: 0.6;
    font-size: 1.5rem;
}

.card .vendedor_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    color: #5b5b5b;
}

.vendedor_info .nombre {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}

.vendedor_info .descripcion {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: .5rem;
    text-align: center;
}

.vendedor_btn {
    margin-top: 2rem;
}

.vendedor_btn button {
    background-color: #dc582a;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 8px 22px;
    border-radius: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.vendedor_btn button:hover {
    background-color: #d45628;
    color: #191010;
}
/* seccion catalogo */
.explorar_title h2 {
    margin: 5rem 0;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.explorar_title span {
    color: #e75309;
    /* color: #586022; */
}

/* footer */
.footer {
    margin-top: 5rem;
    background-color: #24252a;
    padding: 1rem 0;
}
.footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 0;
    gap: 1rem;
}

.footer_info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: darkorange;
    font-weight: 900;
}

.footer_info a {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #9b9b9b;
}

.footer_info a:last-child {
    margin-bottom: 0;
}

.footer_info a:hover {
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .footer_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 492px) {
    .footer_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.icons_networks {
    display: flex;
    justify-content: start;
    gap: 1.5rem;
}

.icons_networks a {
    font-size: 2rem;
    color: #FFFFFF;
}

.icons_networks a:hover{
    color: red;
}

hr {
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.derechos_reservados p{
    text-align: center;
    color: #9b9b9b;
}